
<mat-drawer-container hasBackdrop="true">

  <mat-drawer #formDrawer position="end" mode="over" opened="false">
    <button mat-icon-button  (click)="formDrawer.close()" aria-label="close form drawer">
      <mat-icon>close</mat-icon>
    </button>
    <div class="container">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </mat-drawer>

  <mat-drawer-content>


    <div class="cards-container">
      <mat-card *ngFor="let authorizedChannel of authorizedChannels" class="authorizedChannel-card">
        <mat-card-header>
          <div mat-card-avatar class="authorizedChannel-avatar-image"></div>
          <mat-card-title>{{authorizedChannel.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <a aria-label="delete authorizedChannel" routerLink="./delete/{{authorizedChannel.code}}" (click)="openDrawer()" mat-button color="warn">Delete</a>
          <a aria-label="edit authorizedChannel" routerLink="./edit/{{authorizedChannel.code}}" (click)="openDrawer()" mat-button color="primary">Edit</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <a mat-fab color="accent" class="fab" aria-label="add authorizedChannel" routerLink="./edit/new" (click)="openDrawer()">
      <mat-icon>add</mat-icon>
    </a>

  </mat-drawer-content>

</mat-drawer-container>

