
mat-drawer {
  min-width: 260px;
  padding: 12px;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-drawer-container{
  height: 100%;
}

.icon-spacer {
  flex: 1 1 auto;
}

.mat-elevation-z6 {
  position: relative;
  z-index: 2;
}
